/* USE THIS HINT TO CHOOSE THE COLOR */
/* Atay why sky is #royalblue? */
/* Samir what color will it turn out #red+yellow+blue: Black of course!*/

body {
	margin: 0;
	padding: 15px;
	background: cornflowerblue;		
}

div{
   color: black;
}

.wishes{ 
   color: blue;
}

form {
	margin-top: 30px;

	text-align: center;
}

input {
	width: 100%;

	padding: 10px 0;
}

button {
	padding: 15px 20px;
}

select {
	width: 100%;
}